.list-country-container {
  .group-country {

    margin: 10px 5px;
    box-sizing: content-box;
    border-bottom: 1px solid black;

    .country {
      height: 15px;
      width: 100%;

      .grey-line {
        shape-rendering: crispEdges;
        stroke: #ccc;
        stroke-width: .5;
      }

      .country-label {
        text-anchor: start;
        dominant-baseline: text-before-edge;
        font-size: 12px;
        font-family: karlaregular;
      }
    }

  }
}


