.svg-map {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;

  .country {
    fill: #4D79FF;
    stroke: white;
    stroke-width: .1px;
  }

  .other-country {
    fill: #fefefe;
    stroke: #dedede;
    stroke-width: .5px;
  }

  .stroke-country {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
  }
}