#small-timeline {

  z-index: 4;
  width: 100%;
  height: 10%;

  .border-left {
    width: 40%;
    height: 100%;
    display: inline-block;
  }

  .svg-small-timeline {
    width: 60%;
    height: 1000px;

    .pick {
      stroke: black;
      shape-rendering: crispEdges;
      stroke-width: .5px;
    }

    .year {
      text-anchor: middle;
      dominant-baseline: middle;
      font-size: 12px;
      font-family: karlaregular;
      font-weight: lighter;
      opacity: .8;
    }

    .cursor {
      stroke: black;
      fill: white;
      cursor: pointer;
    }

  }
}
