/* reset */
html, body {
    margin: 0;
    padding: 0;
}

.map-container {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.d3-svg {
    width: 100%;
    height: 100%;
}

.country {
    fill: #ccc;
    stroke: #666;
    stroke-width: .5px;
}

.other-country {
    fill: #fefefe;
    stroke: #dedede;
    stroke-width: .5px;
}