.svg-timeline {

  .g-timeline {

    .line, .pick {
      stroke: black;
      shape-rendering: crispEdges;
    }

    .year {
      text-anchor: middle;
      dominant-baseline: text-after-edge;
      font-size: 14px;
      font-family: helvetica;
    }

  }

  .g-cursor {
    .cursor {
      fill: white;
      stroke: black;
      cursor: pointer;
    }
  }
}