.svg-timeline {

  .g-timeline {

    .line, .pick {
      stroke: black;
      shape-rendering: crispEdges;
    }

    .year {
      text-anchor: middle;
      dominant-baseline: text-after-edge;
      font-size: 14px;
      font-family: helvetica;
    }

  }

  .g-cursor {
    .cursor {
      fill: white;
      stroke: black;
      cursor: pointer;
    }
  }

  .g-country {
    .country-line-g {
      .label {
        text-anchor: start;
        dominant-baseline: text-after-edge;
        font-size: 16px;
        font-family: helvetica;
      }
    }

  }


}