.svg-timeline {

  .g-timeline {

    .line, .pick {
      stroke: black;
      shape-rendering: crispEdges;
    }

    .year {
      text-anchor: middle;
      dominant-baseline: text-after-edge;
      font-size: 14px;
      font-family: karlaregular;
    }

  }

  .g-cursor {
    .cursor {
      fill: white;
      stroke: black;
      cursor: pointer;
    }
  }

  .g-country {
    .country-line-g {
      .label {
        text-anchor: start;
        dominant-baseline: middle;
        font-size: 13px;
        font-family: karlaregular;
      }

      .thin-line {
        stroke: #7B8571;
        shape-rendering: crispEdges;
        stroke-opacity: 0.2;
      }

      .empty-line {
        stroke: #9fa995;
      }

      .otan-line {
        stroke: #ffb59a;
        stroke-width: 6px;
      }

      .otan-point {
        stroke: #ff6e50;
        fill: #ff6e50;
      }

      .ue-line {
        stroke: #4D79FF;
        stroke-width: 3px;
      }

      .ue-point {
        fill: #4D79FF;
        stroke: none;
      }

      .candidature-ue-point {
        stroke: #4D79FF;
        fill: white;
      }

      .ppp-point {
        stroke: #ff8b51;
        fill: white;
      }
    }

  }


}