#map {
  width: 100%;
  height: 100%;

  .svg-map {
    width: 100%;
    height: 100%;

    background-color: #EBF0F7;

    .g-country {
      .country {
        stroke: #ccc;
        fill: white;
        stroke-width: .25px;
        stroke-opacity: .8;
      }
    }
  }
}



