<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>La construction de l'Europe - test</title>

    <script id="webpack-path" src="js/main.min.js"></script>
</head>
<body ng-app="EuroConstr" ng-controller="InitCtrl">

<!-- header -->
<div ng-include="'partials/header'"></div>

<!-- views container -->
<div class="view-container">
    <div class="view" ng-view></div>
</div>

</body>
</html>